<body>
  <div class="container">
    <div class="row mt-5">
      <center><h1 class="col-md-4">Catagory</h1></center>
        <div class="col-4 " >
          <div class="shadow p-3 mb-5 bg-white rounded card_containt">
            <img src="<%= asset_path("party.jpg") %> " class="card-img-top" class="rounded"  >
              <div class="card-body" style="background: linear-gradient(to top right, #33ccff 0%, #ff66cc 100%); height: 160px;">
                <div class="p-3 mb-2  text-white " >
                  <h5 class="card-title">Party</h5>
                  <p class="card-text">Party Event</p>
                </div>
              </div>
          </div>
        </div>
        
        <div class="col-4 ">
          <div class="shadow p-3 mb-5 bg-white rounded card_containt">
            <img src="<%= asset_path("confrence.jpg") %>" class="card-img-top">
              <div class="card-body " style="background: linear-gradient(to top right, #33ccff 0%, #ff66cc 100%); height: 160px;">
                <div class="p-3 mb-2  text-white">
                  <h5 class="card-title">Bussiness and Professional</h5>
                  <p class="card-text">Conference Event make you feel better</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-4 ">
          <div class="shadow p-3 mb-5 bg-white rounded card_containt">
            <img src="<%= asset_path("music_con.jpeg") %>" class="card-img-top">
              <div class="card-body " style="background: linear-gradient(to top right, #33ccff 0%, #ff66cc 100%); height: 160px;">
                <div class="p-3 mb-2  text-white">
                  <h5 class="card-title">Dance and Music</h5>
                  <p class="card-text">Lets you dance on Music.</p>
                </div>  
              </div>
          </div>
        </div>

         <div class="col-4 ">
          <div class="shadow p-3 mb-5 bg-white rounded card_containt">
            <img src="<%= asset_path("sports.jpg") %>" class="card-img-top">
              <div class="card-body " style="background: linear-gradient(to top right, #33ccff 0%, #ff66cc 100%); height: 160px;">
                <div class="p-3 mb-2 text-white ">
                  <h5 class="card-title">Sports & fitness</h5>
                  <p class="card-text">Champions are made when no one is watching.</p>
                </div>  
              </div>
          </div>
        </div>

         <div class="col-4 ">
          <div class="shadow p-3 mb-5 bg-white rounded card_containt">
            <img src="<%= asset_path("filmy.jpg") %>" class="card-img-top">
              <div class="card-body "style="background: linear-gradient(to top right, #33ccff 0%, #ff66cc 100%); height: 160px;">
                <div class="p-3 mb-2  text-white">
                  <h5 class="card-title">Film Media and Entertainment </h5>
                  <p class="card-text">Entertainment is Life to Live Connecting people with fun and entertainment</p>
                </div>  
              </div>
          </div>
        </div>

        <div class="col-4 ">
          <div class="shadow p-3 mb-5 bg-white rounded card_containt" >
            <img src="<%= asset_path("food.jpg") %>" class="card-img-top">
              <div class="card-body" style="background: linear-gradient(to top right, #33ccff 0%, #ff66cc 100%); height: 160px;">
                <div class="p-3 mb-2  text-white">
                  <h5 class="card-title">Food & Drink </h5>
                  <p class="card-text">Feel the joy of mouthwatering food.</p>
                </div>  
              </div>
          </div>
        </div>
    </div>
  </div>
</body>
