
<%= form_with model: @event do |form| %>
<div class="container d-flex justify-content-center "> 
  <div class = "row  card m-5 w-50 shadow-lg p-3 mb-5 rounded">

    <div class="col-md-8.5 p-1 m-1 ">
      <%= form.label :name, class: "form-label" %><br>
      <%= form.text_field :name, class: "form-control "  %>
    </div>

    <div class="col-md-3.5 m-1 p-1"  > 
      <%= form.label :description , class: "form-label "%><br>
      <%= form.text_area :description, class: "form-control " %>
    </div>

    <div class="col-md-8.5 m-1 p-1">
      <%= form.label :venue, class: "form-label" %><br>
      <%= form.text_field :venue, class: "form-control  " %>
    </div>

    <div class="col-md-8 m-1 p-1"> 
      <%= form.label :event_type %><br>
      <%= form.select :event_type, ["Online", "offline"] %>
    </div>

    <div class="row">
      <div class="col-6">
        <%= form.label :start_date %><br>
        <%= form.date_field :start_date %>
      </div>

      <div class="col-6 ml-2 ">
        <%= form.label :end_date %><br>
        <%= form.date_field :end_date %>
      </div>
    </div>

    <div class="col-6">
      <%= form.label :is_paid %><br>
      <%= form.check_box :is_paid %>
    </div>

    <div class="btn">
      <%= form.submit %>
    </div>
    <% end %>
   </div>
  </div>
</div>