
<%= form_with model: @event do |form| %>
<div class="container"> 
  <div class = "row">
    <div class="col-6 p-2  m-1 ">
      <%= form.label :name %><br>
      <%= form.text_field :name, class:"form-control"  %>
    </div>

  <div class="col-6 m-1 p-2"  > 
    <%= form.label :description %><br>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="col-6 m-1 p-2">
    <%= form.label :venue %><br>
    <%= form.text_field :venue %>
  </div>

  <div class="col-6 m-1 p-2"> 
    <%= form.label :event_type %><br>
    <%= form.select :event_type, ["Online", "offline"] %>
  </div>

  <div class="col-6 m-1 p-2">
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </div>

  <div class="col-6 m-1 p-2">
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </div>

  <div class="col-6 m-1 p-2">
    <%= form.label :is_paid %><br>
    <%= form.check_box :is_paid %>
  </div>

  <div class="col-6 m-1 p-2">
    <%= form.submit %>
  </div>
  <% end %>
 </div>
</div>
</div>